* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html,
  body,
  #root {
    height: 100vh;
    width: 100%;
  }
  
  html{
    font-family: 'helvetica-now-display';
  }